*{
  font-family: 'Secular One', sans-serif;
}
body{
  margin:0;
}
#root{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100%;
  background-color:whitesmoke
}
.machine{
  height:50px;
  width: 150px;
}
.blink{
  font-size: 40px;
  animation: blinker 1s infinite;
}
@keyframes blinker{
  from {
    opacity: 1.0;
  }
  50%{
    opacity: 0.5;
  }
  to{
    opacity: 1.0;
  }
}
.slotMachine{
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:20px 0px 20px 0px;
  height:300px;
  width:480px; 
 
}
.drawTicket{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: row;
  height:120px;
  width:350px;
  color:white;
  padding-left:20px;
  margin-top: 10px;
  background-color: rgba(0,0,0,0.9);
  border-radius: 20px;
  padding-right:20px;
  font-size:60px ;
}
.slotbtn{
  margin-top: 30px;

}

.slotbtn button{
  height:50px;
  width:150px;
  font-weight: bold;
  font-size: 21px;
  color:rgb(231, 231, 231);
  letter-spacing: 2px;
  border:4px solid rgb(65, 65, 65);
  background:linear-gradient(rgb(20, 20, 20),rgb(30, 30, 30),rgb(45, 45, 45));
  cursor: pointer;
}
.state{
  margin: 0;
  font-size: 40px;
  margin-bottom: 15px; 
  letter-spacing: 1px; 
}
@media only screen and (max-width:500px) {
   
}